<app-card>
    <h1>View Application Details</h1>
    <div class="">
        <div class="">
            <label for=""><b>Time:</b></label>{{madrasa.time}}
        </div>
        <div class="">
            <label for=""><b>Date:</b></label>{{madrasa.date}}
        <div class="">
            <label for=""><b>Madrasa Image:</b></label>{{madrasa.image}}
        </div>
        <div class="">
            <label for=""><b>Shehia letter:</b></label>{{madrasa.letter}}
        </div>
        <div class="">
            <label for=""><b>Full discription:</b></label>{{madrasa.discription}}
        </div>
        <div class="">
            <label for=""><b>Region:</b></label>{{madrasa.region}}
        </div>
        <div class="">
            <label for=""><b>District:</b></label>{{madrasa.district}}
        </div>
        <div class="">
            <label for=""><b>Shehia:</b></label>{{madrasa.shehia}}
        </div>
        <div class="">
            <label for=""><b>Street:</b></label>{{madrasa.street}}
        </div>
        <div class="">
            <label for=""><b>Head first name:</b></label>{{madrasa.head_firstName}}
        </div>
        <div class="">
            <label for=""><b>Head second name:</b></label>{{madrasa.head_sectName}}
        </div>
        <div class="">
            <label for=""><b>Head last name:</b></label>{{madrasa.head_lasttName}}
        </div>
        <div class="">
            <label for=""><b>Head phone number:</b></label>{{madrasa.head_phone}}
        </div>
        <div class="">
            <label for=""><b>Assistant first name:</b></label>{{madrasa.assisthead_firstName}}
        </div>
        <div class="">
            <label for=""><b>Assistant second name:</b></label>{{madrasa.assisthead_secName}}
        </div>
        <div class="">
            <label for=""><b>Assistant last name:</b></label>{{madrasa.assisthead_lastName}}
        </div>
        <div class="">
            <label for=""><b>Assistant phone number:</b></label>{{madrasa.assissthead_phone}}
        </div>
        <div class="">
            <label for=""><b>Status:</b></label>{{madrasa.status}}
        </div>
    </div>
    </div>
    </app-card>

