<app-card>
<h1>View Staffs Details</h1>
<div class="">
    <div class="">
        <label for=""><b>First name:</b></label>{{staff.firstName}}
    </div>
    <div class="">
        <label for=""><b>Last name:</b></label>{{staff.lastName}}
    </div>
    <div class="">
        <label for=""><b>User name:</b></label>{{staff.userName}}
    </div>
    <div class="">
        <label for=""><b>User password:</b></label>{{staff.password}}
    </div>
    <div class="">
        <label for=""><b>Worker id:</b></label>{{staff.staffId}}
    </div>
    <div class="">
        <label for=""><b>Email id:</b></label>{{staff.email}}
    </div>
    <div class="">
        <label for=""><b>Phone number:</b></label>{{staff.phone}}
    </div>
</div>
</app-card>