<div class="bootstrap-wrapper">

    <div class="container">
       
        <div class="row">
  
        <div class="col-md-6 offset-md-3">
          <mat-card> 
            <div class="container">
                <img src="../../../assets/pola.JPG.jpg" alt="" class="rounded-circle">
            </div>
            <h1 class="text-center">Sponsor Register here !!</h1>
        <!-- {{users |json}} -->
            
            <form style="margin-bottom: 17px;" (ngSubmit)="formSubmit()">
                <!-- UserName -->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>User Name*</mat-label>
                  <input
                  required
                  [(ngModel)]="sponsor.userName"
                  name="username"
                   matInput placeholder="Enter here" /> 
                   <mat-hint>user name must be unique</mat-hint>
                </mat-form-field>
                <!-- password -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>User Password*</mat-label>
                    <input
                    required
                    [(ngModel)]="sponsor.password"
                  name="pass"
                    type="password" matInput placeholder="Enter here" /> 
                  </mat-form-field>
                  <!-- first name -->
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>First Name*</mat-label>
                    <input
                    required 
                    [(ngModel)]="sponsor.firstName"
                  name="first"
                    matInput placeholder="Enter here" /> 
                  </mat-form-field>
                  <!-- last name -->
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Last Name*</mat-label>
                    <input
                    required  
                    [(ngModel)]="sponsor.lastName"
                  name="last"
                     matInput placeholder="Enter here" /> 
                  </mat-form-field>
                  <!-- Email -->
                  
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email Address*</mat-label>
                    <input
                    required
                    [(ngModel)]="sponsor.email"
                  name="email"
                     type="email" matInput placeholder="Enter here" /> 
                  </mat-form-field>
                  <!-- phone -->
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Phone Number*</mat-label>
                    <input
                    required 
                    [(ngModel)]="sponsor.phone"
                  name="phoneS"
                    type="number" matInput placeholder="Enter here" /> 
                  </mat-form-field>
                <!-- address -->
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Your Address*</mat-label>
                  <input
                  required 
                  [(ngModel)]="sponsor.address"
                name="address"
                   matInput placeholder="Enter here" /> 
                </mat-form-field>
                  <div class="text-center">
                    <button type="submit" style="width: 100%;" mat-raised-button color="primary">Register</button>
      
                  </div>
            </form>
          </mat-card>
  
            </div>
        </div>
    </div>
  </div>
  
