<div class="row" > 
    <div class="col-md-4">   
<app-card Title="" Subtitles="" style="border-top: 3px solid green;" >

    <h1 style="font-size:x-large; color: purple;font-style: italic;"><b>Your Profile</b></h1>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="container text-center" >
                <img src="../../../assets/images.jpg" alt=""
                class="profile">
            </div>
            <div class="row">
                <div class="col-md-10" offset-md-1>
                    <h1 style="margin-top: 12px;text-align: center;margin-left: 20%;color:rebeccapurple;">{{login.getUsers().firstName}} {{login.getUsers().lastName}}</h1>
                    <table class="table" >
                        <tr >

                            <td>Username</td>

                            <td style="color:rebeccapurple;">{{login.getUsers().userName}}</td>
                        </tr>
                        <!-- <tr >

                            <td>First name</td>

                            <td>{{login.getUsers().firstName}}</td>
                        </tr>
                        <tr >

                            <td>Last name</td>

                            <td>{{login.getUsers().lastName}}</td>
                        </tr>
                        <tr >

                            <td>Full name</td>

                            <td>{{login.getUsers().firstName}} {{login.getUsers().lastName}}</td>
                        </tr> -->
                        <tr >

                            <td>Email</td>

                            <td style="color:rebeccapurple;">{{login.getUsers().email}}</td>
                        </tr>
                        <tr >

                            <td>Phone</td>

                            <td style="color:rebeccapurple;">{{login.getUsers().phone}}</td>
                        </tr>
                        




                    </table>
                </div>
            </div>
        </div>
    </div>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary" style="width: 100%;">Edit Profile</button>
        
    </mat-card-actions>

    
</app-card>
    </div>
    <div class="col-md-8">
<div class="row" >
    <app-card > 
    <h1 style="color:purple;font-style: italic;"><b>Welcome To Mufti's Office Applications System</b></h1>
    <h1 style="padding-top: 30px;"><b>بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</b></h1>
    <h1>
        إِنَّمَا الصَّدَقَاتُ لِلْفُقَرَاءِ وَالْمَسَاكِينِ وَالْعَامِلِينَ عَلَيْهَا وَالْمُؤَلَّفَةِ قُلُوبُهُمْ وَفِي الرِّقَابِ وَالْغَارِمِينَ وَفِي سَبِيلِ اللَّهِ وَابْنِ السَّبِيلِ ۖ فَرِيضَةً مِنَ اللَّهِ ۗ وَاللَّهُ عَلِيمٌ حَكِيمٌ</h1>
</app-card>


</div>

    </div>
</div>