<!-- 
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-md-3 text-center">
                <h1 style="color: green;text-align: center;"><b>Wellcome In Mufti's Application System</b></h1>
            </div>
        </div>
        <section>
            <div class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="../../../assets/ay.jpg" alt="slide 1"/>
                    <img id="slide-2" src="../../../assets/pil.jpg" alt="slide 2"/>
                    <img id="slide-3" src="../../../assets/tat.jpg" alt="slide 3"/>
                    <img id="slide-4" src="../../../assets/aya2.jpg" alt="slide 4"/>

                </div>
                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                    <a href="#slide-4"></a>
                </div>
            </div>
        </section>
    </div>

 -->
 
  
