<app-card>
    <h1>View Application Details</h1>
    <div class="">
        <div class="">
            <label for=""><b>Time:</b></label>{{masjid.time}}
        </div>
        <div class="">
            <label for=""><b>Date:</b></label>{{masjid.date}}
        <div class="">
            <label for=""><b>Masjid Image:</b></label>{{masjid.image}}
        </div>
        <div class="">
            <label for=""><b>Shehia letter:</b></label>{{masjid.letter}}
        </div>
        <div class="">
            <label for=""><b>Full discription:</b></label>{{masjid.discription}}
        </div>
        <div class="">
            <label for=""><b>Region:</b></label>{{masjid.region}}
        </div>
        <div class="">
            <label for=""><b>District:</b></label>{{masjid.district}}
        </div>
        <div class="">
            <label for=""><b>Shehia:</b></label>{{masjid.shehia}}
        </div>
        <div class="">
            <label for=""><b>Street:</b></label>{{masjid.street}}
        </div>
        <div class="">
            <label for=""><b>Imam first name:</b></label>{{masjid.imam_firstName}}
        </div>
        <div class="">
            <label for=""><b>Imam second name:</b></label>{{masjid.imam_sectName}}
        </div>
        <div class="">
            <label for=""><b>Imam last name:</b></label>{{masjid.imam_lasttName}}
        </div>
        <div class="">
            <label for=""><b>Imam phone number:</b></label>{{masjid.imam_phone}}
        </div>
        <div class="">
            <label for=""><b>Assistant first name:</b></label>{{masjid.assist_firstName}}
        </div>
        <div class="">
            <label for=""><b>Assistant second name:</b></label>{{masjid.assist_secName}}
        </div>
        <div class="">
            <label for=""><b>Assistant last name:</b></label>{{masjid.assist_lastName}}
        </div>
        <div class="">
            <label for=""><b>Assistant phone number:</b></label>{{masjid.assisst_phone}}
        </div>
        <div class="">
            <label for=""><b>Status:</b></label>{{masjid.status}}
        </div>
    </div>
    </div>
    </app-card>
